
.mybutton{
    display: block;
    background:url(C:music1.png) no-repeat;
    cursor:pointer;
    border:none;
    width:27px;
    height:27px;
   padding-right: 30px;
   margin-right: 18px; 
}
body, html, .wrap{
  height:100%;
}

body > .wrap{
  height:auto;
  min-height:100%;
}

.wrap:after {
  content: "";
  display: block;
  height: 100px; 
}

.wrap p{
  margin: 20px 0
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    opacity: 1; 
  background-color: rgba(0,0,1,0.6);
}
.header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;
    opacity: 1; 
  background-color: rgba(0,0,1,0.6);
}
