
.mybutton{
    display: block;
    background:url(music1.png) no-repeat;
    cursor:pointer;
    border:none;
    width:27px;
    height:27px;
   padding-right: 30px;
   margin-right: 18px; 
}
body, html, .wrap{
  height:100%;
}

body > .wrap{
  height:auto;
  min-height:100px;
}

.wrap:after {
  content: "";
  display: block;
  height: 100px; 
}

.wrap p{
  margin: 20px 0
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    opacity: 1; 
  background-color: rgba(0,0,1,0.6);
}
.header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;
    opacity: 1; 
  background-color: rgba(0,0,1,0.6);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}